<head>
	<title>Tarea 3</title>

	<%= stylesheet_link_tag 'signup', media: 'all', 'data-turbolinks-track' => true %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

	<h1 class="text-center comienza-title">¡Bienvenidos a TAREA 3</h1>
	<h1 class="text-center comienza-title-2">ADMISION MAC ENE-MAR 2018!</h1>

	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-8 text-center">
			<button class="btn btn-comienza btn-info text-center" onclick="window.location = '/users/sign_up'">¡Comenzar PokeMACventura!</button>
		</div>
		<div class="col-md-2">
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-8 text-center">
			<a class="btn btn-comienza btn-danger text-center" onclick="window.location = 'http://i0.kym-cdn.com/photos/images/original/000/283/401/9ec.jpg'">Huir al LDC :(</a>
		</div>
		<div class="col-md-2">
			
		</div>
	</div>

	<div id="StefTastan">

		<!-- charmander -->
		<div id="charmander">
			<div id="arms"></div>
			<div id="feet"></div>
			<div id="body">
				<div id="eyes"></div>
				<div id="pupils"></div>
				<div id="nostrils"></div>
				<div id="mouth"></div>
				<div id="belly"></div>
			</div>
			<div id="tail"></div>
			<div id="flame"></div>
		</div>

		<!-- bulbasaur -->
			<div id="bulbasaur">
				<div id="head">
					<div id="eyes"></div>
					<div id="pupils"></div>
					<div id="nostrils"></div>
					<div class="mouth"></div>
				</div>
				<div class="ears"></div>
				<div id="body">
					<div class="spots spot1"></div>
					<div class="spots spot2"></div>
					<div class="spots spot3"></div>
				</div>
				<div id="front-feet"></div>
				<div id="back-feet"></div>
				<div id="bulb"></div>
			</div>
	
			<!-- squirtle -->
			<div id="squirtle">
				<div id="arms"></div>
				<div id="feet"></div>
				<div id="head">
					<div id="eyes"></div>
					<div id="pupils"></div>
					<div id="nostrils"></div>
					<div id="mouth"></div>
				</div>
				<div id="body"></div>
				<div id="shell"></div>
				<div id="tail"></div>
			</div>

	</div>
</body>