<h1>JK eres mi puta</h1>
<p>MD tu también</p>

<p><%= link_to "Posiciones", positions_path %></p>
<p><%= link_to "Pokedex", pokedex_path %></p>
<p><%= link_to "Mapa", map_path %></p>
<p><%= link_to "Retos", challenges_path %></p>