<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

<h1 class="titulo-pokedex">Ingresa el nombre de un pokemon</h1>

<% content_for :input do %>
  <div>
  <%= form_tag({controller: "pokedex", action: "view_pokemon"}, method: "get", class: "form") do %>
          <%= text_field_tag :name, "", class: "input" %>
        <% end %>
  </div>
  <%end%>
<% content_for :image do %>
<img src="http://24.media.tumblr.com/5b94f3545e5e0afa339efe86b6f723f4/tumblr_mgxqxcFyJT1rmazn7o1_400.gif" alt="pokebola" height="170" />
<%end%>